name: Code Quality

on:
  pull_request:
  push:
    branches:
      - master
      - test
    tags:
      - '*'
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - name: setup
        id: setup
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.14.4'
          otp-version: '25.3'

      - name: mix-cache
        uses: actions/cache@v3
        id: mix-cache
        with:
          path: deps
          key: ${{ runner.os }}-${{ steps.setup.outputs.otp-version }}-${{ steps.setup.outputs.elixir-version }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

      - name: mix-deps
        if: steps.mix-cache.outputs.cache-hit != 'true'
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: check unused deps
        run: mix deps.unlock --check-unused

      - name: check for compiler warnings
        run: |
          mix deps.compile
          mix compile --warnings-as-errors

      - name: format
        run: mix format --check-formatted

      - name: credo
        run: mix credo --strict
