name: Test InfluxDB v1.8

on:
  pull_request:
  push:
    branches:
      - master
      - test
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.runs-on }}

    strategy:
      matrix:
        include:
          - elixir: '1.9.4'
            otp: '20.3'
            runs-on: ubuntu-20.04
          - elixir: '1.10.4'
            otp: '21.3'
            runs-on: ubuntu-20.04
          - elixir: '1.11.4'
            otp: '22.3'
            runs-on: ubuntu-20.04
          - elixir: '1.12.3'
            otp: '23.3'
            runs-on: ubuntu-20.04
          - elixir: '1.13.4'
            otp: '24.3'
            runs-on: ubuntu-22.04
          - elixir: '1.14.2'
            otp: '25.0'
            runs-on: ubuntu-22.04

    services:
      influxdb:
        image: influxdb:1.8.10
        env:
          INFLUXDB_HTTP_AUTH_ENABLED: true
          INFLUXDB_HTTP_FLUX_ENABLED: true
          INFLUXDB_HTTP_UNIX_SOCKET_ENABLED: true
          INFLUXDB_HTTP_BIND_SOCKET: /github/workspace/influxdb.sock
          INFLUXDB_ADMIN_USER: instream_test
          INFLUXDB_ADMIN_PASSWORD: instream_test
          INFLUXDB_UDP_ENABLED: true
          INFLUXDB_UDP_BIND_ADDRESS: ':8089'
          INFLUXDB_UDP_DATABASE: test_database
          INFLUXDB_UDP_BATCH_SIZE: 1000
          INFLUXDB_UDP_BATCH_TIMEOUT: '1s'
          INFLUXDB_UDP_BATCH_PENDING: 5
        ports:
          - 8086:8086
          - 8089:8089/udp
        volumes:
          - ${{ github.workspace }}:/github/workspace

    env:
      MIX_ENV: test
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      INFLUXDB_HOST: localhost
      INFLUXDB_PORT: 8086
      INFLUXDB_SCHEME: http
      INFLUXDB_VERSION: '1.8'
      INFLUXDB_V1_DATABASE: test_database
      INFLUXDB_V1_PASSWORD: instream_test
      INFLUXDB_V1_PORT_UDP: 8089
      INFLUXDB_V1_SOCKET: ${{ github.workspace }}/influxdb.sock
      INFLUXDB_V1_USERNAME: instream_test

    steps:
    - uses: actions/checkout@v3

    - name: setup
      uses: erlef/setup-beam@v1
      with:
        elixir-version: ${{ matrix.elixir }}
        otp-version: ${{ matrix.otp }}

    - name: mix-cache
      uses: actions/cache@v3
      id: mix-cache
      with:
        path: deps
        key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

    - name: mix-deps
      if: steps.mix-cache.outputs.cache-hit != 'true'
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get

    - name: test
      run: mix coveralls.github
